.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 10px 20px rgba(238, 231, 231, 0.3);
}

.thead {
  font-size: 20px;
  background-color: #757575;
  color: #242424;
}

.th {
  padding: 8px 13px;
  text-align: center;
  border: 1px solid #757575;
  font-weight: 600px;
}

.td {
  padding: 8px 13px;
  text-align: center;
  border: 1px solid #757575;
}
